:root {
  --main-bg-color: #009d63;
  --main-text-color: #009d63;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
}

.primary-text {
  color: var(--main-text-color);
}

.table th {
        color: black;
}


.fs-2{
  color: white;
}

.p-3{
  background-color: #2D2B40;
}
.fs-5{
  color: white;
}
.second-text {
  color: red;
}

.primary-bg {
  background-color: red;
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  min-height: 850px;
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    #D3D2D5 ,
    #D3D2D5 ,
    #D3D2D5 ,
    #D3D2D5 ,
    #D3D2D5
  );
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: transparent;
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
      margin-left: 90px;
    width: 90%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}