h2{
    font-size: 30px;
    font-weight: bold;
    color: #1d1b31;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 150px;
}
.grid-container {
    display: flex;
    background-color: #D3D2D5;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;
    grid-gap: 10px;
    padding: 0px 120px 100px;
    border: 2px solid #2D2B40;
    }

.grid-item {
      display: flex;
      margin-top: 80px;
      background-color: #FABB8E;
      color: #c1efde;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      border-radius: 15px;
      border: 3px solid #2D2B40;
      text-align: center;
      padding: 30px 30px 0px;

    }
/*table {*/
/*      width: 100%; !* Ancho de la tabla *!*/
/*      border-collapse: collapse; !* Elimina los bordes entre las celdas *!*/
/*      padding: 30px 30px 30px;*/
/*      border-radius: 100px;*/
/*      margin-bottom: 20px;*/
/*    }*/



/*th, td {*/
/*      padding: 8px; !* Espacio entre el contenido y los bordes de las celdas *!*/
/*      text-align: left; !* Alineación del texto en las celdas *!*/
/*      border: 1px solid #ccc; !* Borde de las celdas *!*/
/*    }*/
/*th {*/
/*    font-weight: bold; !* Negrita en el texto de las celdas de encabezado *!*/
/*    background-color: #1d1b31;*/
/*    color: white;*/
/*    }*/

.tittle-day{
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}
.add {
  width: 120px;
  height: 30px;
  border-radius: 15px;
  border:2px solid #159249;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;

}
div.table-title {
    display: block;
  margin: auto;
  /*max-width: 600px;*/
  /*padding:5px;*/
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 14px;
   font-weight: bold;
   font-style:normal;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:15px;
  border-collapse: collapse;
  height: 100px;
  margin: auto;
  margin-bottom: 20px;
  padding:30px 30px 30px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
/*table {*/
/*      width: 100%; !* Ancho de la tabla *!*/
/*      border-collapse: collapse; !* Elimina los bordes entre las celdas *!*/
/*      padding: 30px 30px 30px;*/
/*      border-radius: 100px;*/
/*      margin-bottom: 20px;*/
/*    }*/

th {
  color:#1b1e24;;
  background:#C1C3D1;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:14px;
  font-weight: bold;
  padding:8px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:normal;
  font-size:14px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}


