@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root {
  --textColor: white;
  --successColor: green;
  --unstableColor: yellow;
  --failureColor: red;
  --disabledColor: grey;
}

body {
  font: bold 16px 'Roboto', sans-serif;
  color: var(--textColor);
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.pipe {
  flex: 1 1 auto;
  padding: 0.5em;
  margin: 0.25em;
  border-radius: 0.5em;
  box-shadow: 0 0.1em 0.2em grey;
}

.pipe header {
  text-shadow: 0 0 0.2em black;
  text-align: center;
}

.additionalInfo {
  font-size: 0.7em;
}

.failed {
  background-color: var(--failureColor);
}

.failed .additionalInfo {
  color: var(--failureColor);
  filter: brightness(50%);
}

.succeeded {
  background-color: var(--successColor);
}

.succeeded .additionalInfo {
  color: var(--successColor);
  filter: brightness(50%);
}

.unstable {
  background-color: var(--unstableColor);
}

.unstable .additionalInfo {
  color: var(--unstableColor);
  filter: brightness(70%);
}

.disabled {
  background-color: var(--disabledColor);
}

.disabled .additionalInfo {
  color: var(--disabledColor);
  filter: brightness(50%);
}

.buildNumber {
  float: left;
}

.buildDuration {
  float: right;
}

.buildDate {
  display:block;
  clear: both;
}