<!doctype html>
<html lang="en">

<head>
  <title>Mr Specialties Panel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
  <link rel="stylesheet" href="/front/static/logistica/css/disponibilidades_distribuidores.css">
  <link rel="stylesheet" href="/front/static/logistica/css/add_disponibilidad.css">
  <link rel="stylesheet/less" type="text/css" href="styles.less" />

  <script src="/front/static/logistica/js/scripts.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="app-container">
        <div class="app-header">
          <div class="app-header-left">
            <span class="app-icon"></span>
            <p class="app-name">Mr Specialties</p>
            <div class="search-wrapper">
              <input class="search-input" type="text" placeholder="Search">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-search" viewBox="0 0 24 24">
                <defs></defs>
                <circle cx="11" cy="11" r="8"></circle>
                <path d="M21 21l-4.35-4.35"></path>
              </svg>
            </div>
          </div>
          <div class="app-header-right">
            <button class="mode-switch" title="Switch Theme">
              <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                <defs></defs>
                <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
              </svg>
            </button>
            <a href="/disponibilidad/create">
            <button class="add-btn" title="Add New Project">
              <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                <line x1="12" y1="5" x2="12" y2="19" />
                <line x1="5" y1="12" x2="19" y2="12" /></svg>
            </button>
              </a>
            <a href="/auth/logout">
            <button class="notification-btn">
              <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
              <path d="M13,9 L13,2 L1,2 L1,22 L13,22 L13,15 M22,12 L5,12 M17,7 L22,12 L17,17"/>
              </svg>
            </button>
            </a>
            <button class="profile-btn">
              <span>{{user.username}}</span>
            </button>
          </div>
          <button class="messages-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle">
              <path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z" /></svg>
          </button>
        </div>
        <div class="app-content">
          <div class="app-sidebar">
            <a href="/disponibilidad/" class="app-sidebar-link active" title="Inicio"><!--Boton Home-->
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home" >
                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                <polyline points="9 22 9 12 15 12 15 22" /></svg>
            </a>
            <a href="/disponibilidad/create" class="app-sidebar-link" title="Agregar Disponibilidad"> <!--Boton Agregar Disponibilidad-->
              <svg width="27" height="27" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="addIconTitle" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" >
                <path d="M17 12H7m5 5V7"/><circle cx="12" cy="12" r="10"/></svg>
            </a>
            <a href="" class="app-sidebar-link" title="Configuraciones"><!--Boton Config-->
              <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-settings" viewBox="0 0 24 24">
                <defs />
                <circle cx="12" cy="12" r="3" />
                <path d="M19.4 15a1.65 1.65 0 00.33 1.82l.06.06a2 2 0 010 2.83 2 2 0 01-2.83 0l-.06-.06a1.65 1.65 0 00-1.82-.33 1.65 1.65 0 00-1 1.51V21a2 2 0 01-2 2 2 2 0 01-2-2v-.09A1.65 1.65 0 009 19.4a1.65 1.65 0 00-1.82.33l-.06.06a2 2 0 01-2.83 0 2 2 0 010-2.83l.06-.06a1.65 1.65 0 00.33-1.82 1.65 1.65 0 00-1.51-1H3a2 2 0 01-2-2 2 2 0 012-2h.09A1.65 1.65 0 004.6 9a1.65 1.65 0 00-.33-1.82l-.06-.06a2 2 0 010-2.83 2 2 0 012.83 0l.06.06a1.65 1.65 0 001.82.33H9a1.65 1.65 0 001-1.51V3a2 2 0 012-2 2 2 0 012 2v.09a1.65 1.65 0 001 1.51 1.65 1.65 0 001.82-.33l.06-.06a2 2 0 012.83 0 2 2 0 010 2.83l-.06.06a1.65 1.65 0 00-.33 1.82V9a1.65 1.65 0 001.51 1H21a2 2 0 012 2 2 2 0 01-2 2h-.09a1.65 1.65 0 00-1.51 1z" />
              </svg>
            </a>
          </div>
          <div class="projects-section">
            <div class="projects-section-header">
              <p></p>
              <p class="time"></p>
            </div>

            <div class="project-boxes jsGridView">
              <div class="login">
        <div class="form-container">
            <img src="/front/static/img/RECURSO-WEB_Mesa-de-trabajo-1.png" alt="logo" class="logo">

            <form action="/disponibilidad/create" method="post" class="form">
                <h5>Crear Disponibilidad</h5>

                <label for="producto" class="label">Selecciona un producto:</label><br>
                <select id="productos" name="producto" class="mi-select" required>
                  {% if productos %}
                  {% for producto in productos %}
                  <option value={{producto.nombre}}-{{producto.categoria}}>{{producto.nombre}} - {{producto.categoria}}</option>
                  {% endfor %}
                  {% endif %}
                </select><br>

                <label for="cantidad" class="label">Cantidad</label><br>
                <input name="cantidad" type="number" id="cantidad" placeholder="Ingrese la cantidad disponible" class="input input-password" required>

                <label for="categorias" class="label">Selecciona Unidad de Medida:</label><br>
                <select id="categorias" name="unidad" class="mi-select" required>
                  <option value="Kilo">Kilogramos</option>
                  <option value="Libra">Libras</option>
                </select><br>

                <label for="diadisponibilidad" class="label">Dia disponibilidad:</label><br>
                <select id="colors" name="dia_de_disponibilidad" class="mi-select" required>
                    {% if dias %}
                    {% for dia in dias %}
                  <option value={{dia.dia}}>{{dia.dia}}</option>
                    {% endfor %}
                    {% endif %}
                </select><br>

                <button type="submit" class="primary-button login-buton">Agregar Disponibilidad </button>

                <a href="https://walink.co/7e3206">Si tiene problemas para registrar crear una disponibilidad, contacte con el Master</a>
            </form>
        </div>
     </div>
          </div>
      </div>
      </div>
      </div>

</body>

</html>