<html>
<head>
  <link href="/front/static/logistica/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <section class="container">
    <article class="pipe failed">
      <header>
        <h2>Hola</h2>
      </header>
      <div class="additionalInfo">
        <div class="buildNumber">#2</div>
        <time class="buildDuration" datetime="PT30M12S">30m 12s</time>
        <time class="buildDate" datetime="2018-08-29T13:58Z">Aug. 29, 2018 at 13:58</time>
      </div>
    </article>
    <article class="pipe succeeded">
      <header>
        <h2>ECS HTML5</h2>
      </header>
      <div class="additionalInfo">
        <div class="buildNumber">#221</div>
        <time class="buildDuration" datetime="PT4M21S">4m 21s</time>
        <time class="buildDate" datetime="2018-08-29T10:00Z">Aug. 29, 2018 at 10:00</time>
      </div>
    </article>
    <article class="pipe unstable">
      <header>
        <h2>MDM HTML5</h2>
      </header>
      <div class="additionalInfo">
        <div class="buildNumber">#12</div>
        <time class="buildDuration" datetime="PT12M33S">12m 33s</time>
        <time class="buildDate" datetime="2018-08-28T23:58Z">Aug. 28, 2018 at 23:58</time>
      </div>
    </article>
    <article class="pipe disabled">
      <header>
        <h2>EPR Timeline HTML5</h2>
      </header>
      <div class="additionalInfo">
        <div class="buildNumber">#44</div>
        <time class="buildDuration" datetime="PT21S">21s</time>
        <time class="buildDate" datetime="2018-08-29T00:01Z">Aug. 29, 2018 at 00:01</time>
      </div>
    </article>
    <article class="pipe succeeded">
      <header>
        <h2>EPR API</h2>
      </header>
      <div class="additionalInfo">
        <div class="buildNumber">#12</div>
        <time class="buildDuration" datetime="PT2M1S">2m 1s</time>
        <time class="buildDate" datetime="2007-08-29T13:58Z">Aug. 20, 2018 at 10:00</time>
      </div>
    </article>
  </section>
</body>
</html>