<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <title>Mr Specialties Dashboard</title>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <!--<title> Drop Down Sidebar Menu | Pretelsoftware </title>-->
    <link rel="stylesheet" href="/front/static/logistica/css/layouts.css">
    <link rel="stylesheet" href="/front/static/logistica/css/forms.css">
    <link rel="stylesheet" href="/front/static/logistica/css/dashboard_master.css">
    <link rel="stylesheet" href="/front/static/logistica/css/add_disponibilidad.css">
    <link rel="stylesheet" href="/front/static/logistica/css/edit_user.css">
    <!--<title> Drop Down Sidebar Menu | Pretelsoftware </title>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bxs-city'></i>
      <span class="logo_name">Mr Specialties</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/disponibilidad/ ">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Dashboard</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="link_name">Disposición</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Disposición</a></li>
          <li><a href="#">Historial Completo</a></li>
          <li><a href="#">Historial Usuario</a></li>
          <li><a href="#">Actuales de Usuario</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-user' ></i>
            <span class="link_name">Usuarios</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="/master/users">Usuarios</a></li>
          <li><a href="/master/register_user">Registrar</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
        <a href="#">
          <i class='bx bxs-store-alt' ></i>
          <span class="link_name">Productos</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="/master/products">Productos</a></li>
          <li><a href="/master/create_product">Registrar</a></li>
        </ul>
      </li>
      <li>
    <div class="profile-details">
      <div class="profile-content">
        <!--<img src="image/profile.jpg" alt="profileImg">-->
      </div>
      <div class="name-job">
        <div class="profile_name">{{user.username}}</div>
        <div class="job">{{user.role}}</div>
      </div>
      <a href="/auth/logout">
        <i class='bx bx-log-out' ></i>
      </a>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">Menu</span>
    </div>
  </section>
  <script src="{{ url_for('static', path='/logistica/js/layout.js') }}"></script>
</body>
</html>