<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/front/static/logistica/css/login.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <div class="login">
        <div class="form-container">
            <img src="/front/static/img/RECURSO-WEB_Mesa-de-trabajo-1.png" alt="logo" class="logo">

            <form method="" class="">
                <label for="email" class="label">Usuario</label>
                <input type="text" id="email" placeholder="user_id" class="input input-password">

                <label for="password" class="label">Contraseña</label>
                <input type="password" id="password" placeholder="*********" class="input input-password">

                <input type="submit" value="Login" class="primary-button login-buton">

                <a href="https://walink.co/7e3206">Contacte con el Master, para actualizar los datos de Registro.</a>
            </form>

        </div>
    </div>
</body>
</html>